*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #222;
  font-family: 'Shantell Sans', cursive;
  max-width: 1200px;
  margin: 0 auto;
}

.container h1 {
  color: aliceblue;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 15px;
  font-size: 50px;
}

.busca-container{
  margin-block: 2.5rem ;
  padding: .625rem;
  display: flex;
  align-content: center;
}



.pokemons {
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(300px,auto));
  justify-content: center;
  gap: 20px;
  padding-bottom: 10px;
}

.card{
  max-width: 300px;
  padding:20px; 
  color: #222;
  text-align: center;
  border-radius: 20px;
  background-color: wheat;
  overflow: hidden;
}

.card-image{
  max-width: 500px;
}

.type{
  color: #615e5e;
  padding-top: 5px;
  position: relative;
  top: 5px;
  transition: top 1s;
  font-size: 1.28rem;
}

.card:hover .type{
  cursor: pointer;
  top: 0;
    
}





